body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ECEEF1;
}

a {
  text-decoration: none;
  color: #0077C5;
}

/*NAV*/

nav {
  width: 100%;
  font-size: 12px;
  text-align: right;
}

nav p {
  display: inline-block;
  margin: 12px 5px;
  color: #505050;
  line-height: 1.2;
}

nav p a:link {
  text-decoration: none;
}

#sign-in {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 25px;
  background-color: #0077C5;
  color: white;
  border: 1px solid #505050;
  border-radius: 3px;
}

/*HEADER*/

header {
  text-align: center;
  margin: 20px 0;
}

header #intuit-logo {
  height: 35px;
  margin: 10px 0;
}

header a {
  color: #707070;
}

header li {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

header span {
  vertical-align: top;
}

header li img {
  height: 22px;
  vertical-align: bottom;
}

/*SIGN UP*/

section {
  width: 320px;
  margin: auto;
  padding: 30px;
  padding-bottom: 0;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: white;
  text-align: center;
}

section h1 {
  font-size: 24px;
}

#learn-more {
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.2;
}

#learn-more a {
  font-size: 12px;
}

form label {
  display: block;
  width: 100%; 
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 14px;
}

form input {
  margin: 8px 0;
  height: 34px;
  padding-left: 8px;
  border: 1px solid #C1C5C8;
  border-radius: 3px;
  font-size: 16px;
}

form input, form button {
  width: 100%;
}

form p {
  font-size: 10px;
}

form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0077C5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 16px;
  color: white;
}

#terms {
  margin: 40px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.4;
  color: #707070;
}

#recaptcha {
  width: 100%;
  position: relative;
  right: 30px;
  padding: 20px 30px;
  background-color: #ECEEF1;
  border-radius: 0 0 3px 3px;
  color: #707070;
  font-size: 10px;
}

/*FOOTER*/

footer {
  width: 820px;
  margin: auto;
  padding: 30px;
  text-align: center;
  font-size: 12px;
  font-family: Avenir, Helvetica, Arial;
  line-height: 1.4;
}

footer li {
  display: inline;
  margin: 0 5px;
}

footer p {
  color: #505050;
}

/*PRIVACY SETTINGS*/

#privacy-settings {
  position: fixed;
  bottom: 3px;
  right: 48px;
  padding: 14px 12px 10px 12px;
  font-size: 14px;
  background-color: #6B6C72;
  color: white;
  border-radius: 3px;
}