body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #0077C5;
}

/*NAV*/

nav {
  width: 100%;
  background-color: rgb(253, 253, 218);
  font-size: 12px;
  text-align: right;
}

nav p {
  display: inline-block;
  margin: 12px 5px;
  color: #505050;
  line-height: 1.2;
}

nav p a:link {
  text-decoration: none;
}

#sign-in {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 25px;
  background-color: #0077C5;
  color: white;
  border: 1px solid #505050;
  border-radius: 3px;
}

/*HEADER*/

header {
  text-align: center;
  background-color: rgb(224, 250, 228);
  margin: 20px 0;
}

header #intuit-logo {
  height: 35px;
  margin: 10px 0;
}

header a {
  color: #707070;
}

header li {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

header span {
  vertical-align: top;
}

header li img {
  height: 22px;
  vertical-align: bottom;
}

/*
<header>
  <img src="assets/images/intuit-logo.png" alt="intuit-logo">
  <ul>
    <li><a><img src="assets/images/logo1.png" alt="some logo">mint</a></li>
    <li><a><img src="assets/images/logo2.png" alt="some logo">quickbooks</a></li>
    <li><a><img src="assets/images/logo3.png" alt="some logo">turbotax</a></li>
  </ul>
</header>

/*SIGN UP*/

.sign-up-form {
  width: 380px;
  margin: auto;
  border: 1px solid grey;
  background-color: rgb(224, 224, 250);
}

/*FOOTER*/

footer {
  width: 820px;
  margin: auto;
  background-color: rgb(255, 217, 217);
}

/*PRIVACY SETTINGS*/

#privacy-settings {
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: grey;
}